<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust Blog</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>

<h1>Welcome to the Rusty Blog</h1>
<p>Please sign in or sign up before viewing all of the blog posts!</p>

<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <input type="hidden" id="is_admin" name="is_admin" value="false">
    <input type="submit" value="Login">
</form>

</body>